@import "../../helpers/helpers";

.task-form-container {
  @include card-base; // Фон, тени и скругления
  top: rem(24);
  border: 1px solid var(--border-color);
  padding: rem(20);
  background: #fff;
  margin-bottom: rem(20);

  .form-title {
    margin: 0 0 rem(20) 0;
    font-size: rem(20);
    font-weight: 800;
    color: var(--text-main);
    display: flex;
    align-items: center;
    gap: rem(8);

    &::before {
      content: "📝";
    }
  }

  .form-row {
    display: flex;
    gap: rem(15);
    margin-bottom: rem(15);
    align-items: flex-start;

    &.items-end {
      align-items: flex-end;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: rem(6);
    margin-bottom: 0;

    label {
      display: block;
      font-size: rem(12);
      font-weight: 700;
      color: var(--text-secondary);
      text-transform: uppercase;
      margin-left: rem(4);
    }

    &.flex-grow {
      flex: 1;
    }
  }

  .custom-input,
  .custom-textarea {
    @include input-base;
    width: 100%;
  }

  .custom-textarea {
    min-height: rem(40);
    height: 100%;
    resize: none;
  }

  .custom-picker,
  .custom-select {
    width: 200px !important;
  }

  .add-task-btn {
    @include btn-primary;
    height: rem(40);
    border-radius: rem(8);
    font-weight: 600;
    padding: 0 rem(25);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
